/*FONT FAMILIES   'Barlow', sans-serif     'Audiowide', cursive;     'Monoton', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Barlow&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cabin:wght@500&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cabin:wght@500&family=Monoton&family=Montserrat&display=swap');
/*HEADE*/
.name{
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  color: white;
  text-align: center;
   margin-left: -910px;
   margin-top:-70px;
}
.logo{
  margin-top: 15px;
  margin-left: 20px;
  width: 60px;
  height: 80px;
}
.us{
  float: right;
  margin-right: 40px;
  margin-top: -15px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px
}
.cat{
  float: right;
  margin-right: 60px;
  margin-top: -15px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px
  
}
.cntct
{
  float: right;
  margin-right: 70px;
  margin-top: -15px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px
}
/*
.navbar{
  margin-top: 200px;
}
This div class can move totaly all the content in the screen if cant undrstand unlock it to know them
*/

/*BODY*/
html{
  scroll-behavior: smooth;
}
body{
  background-color: #151a2b;
}

a{text-decoration: none;}
/* MAIN */
.shadow::before{
  position:relative;
  margin-top: -400px;
  margin-left: 0px;
  content: "";
  float: right;
  height: 650px;
  width: 700px;
  background-image: radial-gradient(ellipse closest-side, rgb(96, 87, 105), rgb(108, 20, 134) 50%, transparent);
  shape-outside: radial-gradient(ellipse closest-side, rgb(19, 5, 32), rgb(56, 13, 156) 50%, transparent);
  shape-image-threshold: .3;
  top:0;
  left: 0;
}


.h1{
  text-transform: capitalize;
  color: white;
  font-size: 80px;
  text-align: center;
  font-family: 'Cabin', sans-serif;
  margin-top: 200px;
  margin-left: -700px;
}

.head-img{
  position: absolute;
  top: 0;
  left: 0;
  float: right;
  width: 550px;
  height: 500px;
  border-radius: 20px;
  margin-top: 200px;
  margin-left: 700px;
}


.p1{
  color: white;
  text-transform: capitalize;
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  background-color: rgb(51, 6, 110);
  display: inline-block;
  cursor: pointer;
  border-radius: 15px;
  padding: 20px;
  margin-left: 100px;

}
/* TIELS */
.firstborder{
  position: relative;
  width: 600px;
  height: 350px;
  margin-top: 20px;
  margin-left: 680px;
}
.car{
  position: relative;
  width: 485px;
  height: 250px;
  margin-top: 70px;
  margin-left: -545px;
  position: absolute;
  border-radius: 30px;
}/*
@keyframes slidein{
  from{
    margin-left: 40%;
    width: 50%;
  }
  to{
    margin-left: 10%;
    width: 50%;
  }
}*/
.carnews{
   font-size: 80px;
   color: white;
   font-family: 'Montserrat', sans-serif;
   text-align: left;
   letter-spacing: 5px;
   margin-top: -300px;
   margin-left: 100px;
   /*animation-duration: 3s;
   animation-name: slidein;*/
}
.carcap{
  font-size: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  letter-spacing: 2px;
  margin-top: -50px;
  margin-left: 110px;
  /*animation-duration: 3s;
  animation-name: slidein;*/
}
  
.secondb2{
  position: relative;
  width: 600px;
  height: 350px;
  margin-top: 200px;
  margin-left: 40px;
}
.laptop{
  position: absolute;
  width: 485px;
  height: 250px;
  margin-top: 250px;
  margin-left: -545px;
  border-radius: 30px;
}/*
@keyframes t {
  5% { transform: skewX(15deg); }
  10% { transform: skewX(0deg) translateX(50px); }
  15% { transform: skewX(15deg); }
 /* from{
    margin-left: 40%;
    width: 50%;
  }
  to{
    margin-left: 10%;
    width: 50%;
  }*/

.laptopnews{
  font-size: 80px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  letter-spacing: 5px;
  margin-top: -300px;
  margin-left: 500px;
  /*animation-duration: 3s;
  animation-name: t;*/
}
.laptopcap{
  font-size: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  letter-spacing: 2px;
  margin-top: -50px;
  margin-left: 455px;
  /*animation-duration: 10s;
  animation-name: t;*/
}

.thirdb3{
  position: relative;
  width: 600px;
  height: 350px;
  margin-top: 200px;
  margin-left: 680px;
}
.mobile{
  position: relative;
  width: 485px;
  height: 250px;
  margin-top: 250px;
  margin-left: -545px;
  position: absolute;
  border-radius: 30px;
  
}

.mobilenews{
  font-size: 80px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  letter-spacing: 5px;
  margin-top: -300px;
  margin-left: 100px;
  /*animation-duration: 3s;
  animation-name: slidein;*/
}
.mobilecap{
  font-size: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  letter-spacing: 2px;
  margin-top: -50px;
  margin-left: 110px;
  /*animation-duration: 3s;
  animation-name: slidein;*/
}
hr{
  margin-top: 100px;
  size: 50px;
  animation-direction: alternate;
}
/*
#svgmask22{
margin-left: 920px;
height: 900px;
width: 400px;
}
*/
